body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1256px;
    margin: 0 auto;
    display: flex;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    align-items: center;

    .wrapper-hero {
        width: 515px;
        margin-left: 134px;
        margin-top: 194px;

        .content {
            font-family: 'Nunito Sans';
            font-weight: 400;
            font-size: 22px;
            line-height: 36px;
            color: #FFFFFF;
            text-align: left;
            margin-bottom: 41px;
        }

        .title {
            font-family: 'Yeseva One';
            font-weight: 400;
            font-size: 40px;
            line-height: 53px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 19px;

            & span {
                color: #E3B873;
            }
        }

        .button-block {
            display: flex;
            z-index: 1;
            gap: 20px;
            
            .button-submit {
                border: 1px solid #FFFFFF;
                background-color: rgba(0,0,0,0);
            }
        }
    }
}

.container-header-footer {
        max-width: 1256px;
    margin: 0 auto;
    display: flex;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    align-items: center;
}

.container-header {
    height: 83px;

    .button-header {
        width: 161px;
        height: 37px;
    }
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    line-height: 15px;
    color: white;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    cursor: pointer;
    width: 207px;
    height: 51px;
}

.logo {
    color: #E3B873;
    width: 180px;
    margin-right: 95px;
    white-space: nowrap;
}

header {
    background-color: #131313;
}

.header-navigation {
    list-style: none;
    display: flex;
    padding-left: 0px;
    gap: 55px;
    margin-right: 70px;
}

.header-navigation-item {
    line-height: 15px;
    cursor: pointer;
    white-space: nowrap;
    :hover {
        color: #E3B873;
    }
}

.number {
    line-height: 15px;
    margin-right: 53px;
}

.header-navigation-link {
    text-decoration: none;
    color: white;
    padding-left: 0px;
}

.number-link {
    color: #E3B873;
}

.hero {
    background-image: url(../images/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 707px;
    position: relative;
    z-index: 1;
}

.hero-overlay {
    content: '';
    background: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.hero-container {
    position: relative;
    z-index: 1;
}

.block2 {
    background-color: #131313;
    height: 1074px;

    .online-control {
        margin: 0 auto;
        width: 196px;
        height: 67px;
        margin-bottom: 338px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        .title-online-control {
            text-transform: uppercase;
            font-family: "Yeseva One";
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            color: #FFFFFF;
        }

        .icon-online-control {
            display: flex;
            align-items: center;
            gap: 10px;

            .line-icon {
                width: 32px;
                height: 1.5px;
                background-color: #E3B873;
            }
        }
    }
}

.container2 {
    display: flex;
    flex-flow: column wrap;
    width: 1171px;
    height: 659px;
    margin: 0 auto;
    margin-bottom: 91px;
    color:#FFFFFF;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;

    .header-complete-projects {
        width: 442px;
        height: 362px;
        margin-right: 50px;
        margin-bottom: 31px;

        .title-complete-projects {
            padding-top: 107px;
            margin-bottom: 34px;
            color: #E3B873;
            font-family: 'Yeseva One';
            font-size: 27px;
            line-height: 37px;
            text-transform: uppercase;
            width: 253px;
        }
        
        .content-complete-projects {
            font-size: 14px;
            line-height: 27px;
        }
    }

    .complete-projects {
        height: 855px;
        padding-top: 107px;
    }
}

.container2-1 {
    width: 442px;
    margin-right: 50px;

    .circle {
        display: flex;
        gap: 17.5px;
        margin-top: 25px;
        align-items: center;

        .circle-item {
            width: 10px;
            height: 10px;
            cursor: pointer;
            background-color: #FFFFFF4D;
            border-radius: 50%;
        }

        .circle-item:hover {
            background-color: #FFFFFF;
        }

        .arrow {
            stroke: #FFFFFF;
            stroke-width: 1.34px;
            cursor: pointer;
        }
        
        .arrow-right {
            transform: rotate(-180deg);
        }
    }
}


.nav-complete-projects {
    gap: 60.5px;
    margin-bottom: 53.04px;
    margin-top: 0px;
    line-height: 19px;
    margin-right: 0px;

    :hover {
        color: #E3B873;
        cursor: pointer;
        text-decoration: underline;
        text-underline-offset: 7px;
    }
}

.title-block2-2 {
    margin-bottom: 9px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    width: 190px;
}

.content-table2 {
    width: 190px;
    margin-bottom: 34px;
}

.table-block2 {
    display: flex;
}

.container3 {
    max-width: 1438px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

    .label .text {
        color: #181818;
    }
}

.container3_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 91.5px;

    .video {
        display: flex;
        justify-content: center;
        margin-top: -226px;
        margin-bottom: 62px;
        
        .image-video {
            width: 817px;
            height: 434px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .button-play {            
                width: 85px;
                height: 85px;
                border-radius: 50%;
                background: #E3B873;
                box-shadow: 0px 5px 30px 0px #E3B87333;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                z-index: 100;
                position: absolute;
                padding-left: 7px;
            }
        }
    }

    .content-under-video {
        margin-top: 35px;
        font-size: 18px;
        line-height: 37px;
        margin-bottom: 0px;
        color: #363636;
        max-width: 681px;
    }
}

.container3 hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.container3_2 {
    display: flex;
    justify-content: center;
    margin-bottom: 33px;
    flex-wrap: wrap;
    width: 790px;
    column-gap: 58px;
    row-gap: 37px;
    line-height: 23px;

    .table-block3 {
        display: flex;
        gap: 58px;
    }

    .table-block3 input {
        width: 231px;
        border: none;
        background: transparent;
        border-bottom: 1px solid #3636364D;
        color: #181818;
        outline: none;
        padding-bottom: 8px;
    }

    .table-block3 input::placeholder {
        color: #363636;
    }
    
    .table-block3 label{
        display: block;
        text-align: left;
        color: #36363680;
    }
}

.type-repair {
    display: flex;
    flex-direction: column;
    gap: 17px;
    font-family: 'Yeseva One';
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 31px;
    margin-top: 148px;
    text-align: center;
}

.content-block3_2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.block4 {
    max-width: 1236px;
    margin: 0 auto;
    margin-bottom: 124px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container4 {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.container4_1 {
    width: 392px;
    height: max-content;

    .content-block4 {
        background-color: #FFFFFF;
        width: 330px;
        max-height: 286px;
        margin-top: -148px;
        margin-left: 31px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
        z-index: 1000;
        position: relative;
    }
    
    .content-block4 p {
        margin-left: 34px;
        padding-top: 25px;
        margin-bottom: 13px;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #363636;
    }
    
    .content-block4 ul {
        padding-left: 34px;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 27px;
        color: #959595;
    }

    .type-repair-image {
        position: relative;
        z-index: 1;
    }

    .btn-block4 {
        margin-top: -28px;
        margin-left: 31px;
    }
}

.block5 {
    .container5 {
        margin: 0 auto;
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        height: 725px;
        margin-bottom: 242px;
    }

    .request {
        min-width: 506px;
        height: 509px;
        padding: 28px 49px 27px;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        background-color:#131313;
        margin-right: 100px;
        margin-top: 106px;
        font-size: 14px;
        margin-bottom: 38px;

        .title-form {
            margin: 0 auto;
            width: 297px;
            text-align: center;
            padding-left: 40px;
            padding-right: 40px;
            margin-bottom: 39px;
            line-height: 26px;
            font-size: 18px;
        }

        & label {
            color:#FFFFFF80;
            font-size: 13px;
        }

        & input {
            background-color: inherit;
            border: none;
            border-bottom: 1px solid #FFFFFF26;
            color: #FFFFFF;
            margin-bottom: 48px;
            outline: none;
            padding-top: 7px;
            padding-bottom: 2px;
        }

        & input:nth-last-child(3) {
            margin-bottom: 16px;
        }

        ::placeholder {
            color: #FFFFFF;
        }
    }

    .form-request {
        width: 213px;
        height: 51px;
        margin-top: auto;
        margin-left: auto;
    }

    .container5-left-block {
        height: 645px;
        width: 703px;
        padding-left: 249px;
        padding-top: 117px;
        background-image: url(../images/image5.1.jpg);
        margin-right: 131px;

        & ol {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 375px;
            height: 474px;
            list-style: none;
            counter-reset: myCounter; /* Задаём имя счетчика */
            padding-left: 0px;

            .item-li {
                display: flex;
                width: inherit;
                justify-content: flex-start;
                align-items: center;
                font-size: 14px;
                line-height: 19px;
            }


            & li:before {
                width: 42px;
                height: 42px;
                display: inline-block;
                margin-right: 9px;

                content: counters(myCounter, ".", decimal-leading-zero);
                counter-increment: myCounter; /* Увеличиваем значение счётчика */
                background: #E3B873;
                color:#FFFFFF;
                
                font-family: "Yeseva One";
                font-size: 18px;
                border-radius: 50%;
                text-align: center;
                line-height: 42px;

                border: 8px solid #FFFFFF;
                box-shadow: 0px 5px 15px 0px #E3B87326;
            }
        }
    }

    .save-material-cost {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 315px;
        font-size: 18px;
        line-height: 26px;
        color: #E3B873;

        .pig {  
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 72px;
            height: 72px;
            background-color: #E3B873;
            border-radius: 50%;
            margin-right: 25px;
        }
    }
}

.block6 {
    height: 864px;
    background-image: url(../images/your-fantasies.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color:#FFFFFF;
    margin-bottom: 110px;

    .container6 {
        margin: 0 auto;
        max-width: 1440px;
        display: flex;

        .block6-image-first {
            content: url("../images/image_6_1.jpg");
        }

        .block6-image-left {
            display: flex;
            flex-direction: column;
            margin-top: -41px;
            gap: 40px;
            margin-right: 43px;
        }

        .block6-image-rigth {
            display: flex;
            flex-direction: column;
            margin-top: -113px;
            gap: 37px;
        }
    }

    .block-list-style {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 299px;
        height: 629px;
        margin-top: 137px;
        margin-left: 99px;
        margin-right: 189px;

        & h1 {
            color: #E3B873;
            font-size: 27px;
            font-family: "Yeseva One";
            font-weight: 400;
            line-height: 37px;
            text-transform: uppercase;
        }
    }

    .list-style {
        height: 516px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 0px;
    }

    & ul {
        list-style: none;
        font-size: 20px;
        line-height: 38px;
        :hover {
            color: #E3B873;
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.block7 {
    height: 642px;
    width: 1236px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 382px;

    & h1 {
        text-transform: uppercase;
        text-align: center;
        font-family: Yeseva One;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
    }

    .recomendation {
        width: 370px;
        height: 57px;
        font-size: 18px;
        line-height: 29px;
        text-align: center;
        color: #363636;
        margin-bottom: 39px;
    }

    .image-city {
        display: flex;
        z-index: -1;
        margin-top: -398px;
        .image-city-rotate {
            transform: scale(-1, 1)
        }
    }

    .container7 {
        display: flex;
        .card-client {
            width: 376px;
            height: 455px;
            padding: 24px 32px 24px 20px;
            box-shadow: 0px 10px 50px 0px #0000000A;
            margin-right: 54px;
        }

        & .card-client:nth-child(3) {
            margin-right: 0px;
        }

        .client-data {
            display: flex;
            align-items: center;
        }

        .add-info-icon {
            box-shadow: 5px 5px 20px 0px #E3B87380;
            margin-top: 99px;
            margin-left: -20px;
        }

        .client-name {
            font-family: Yeseva One;
            font-size: 18px;
            width: 178px;
            line-height: 23px;
            margin-left: 23px;
        }

        .review {
            font-size: 13px;
            line-height: 23px;
            color:#959595;
            margin-top: 22px;
        }
    }
}

.block8 {
    height: 953px;
    background-image: url(../images/image8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color:#FFFFFF;

    .container8 {
        margin: 0 auto;
        max-width: 1440px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .any-questions {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 883px;
            height: 445px;
            background: #131313;
            margin-top: -222px;
            padding: 34.4px 181.5px;
            margin-bottom: 52px;

            .top-block-item {
                display: flex;
                flex-direction: column;
                width: 231px;
                margin-bottom: 48px;
            }

            .block-question {
                display: flex;
                flex-direction: column;
                width: 520px;
                margin-bottom: 46px;
            }

            .top-block {
                display: flex;
                justify-content: space-between;
                width: 520px;
            }

            .form-submit {
                width: 200px;
                height: 51px;
                margin-top: auto;
            }

            .title-any-questions {
                text-transform: uppercase;
                font-family: "Yeseva One";
                font-size: 20px;
                line-height: 28px;
                text-align: center;
                margin-bottom: 46px;
            }

            & label {
                color:#FFFFFF80;
                font-size: 13px;
            }
    
            & input {
                background-color: inherit;
                border: none;
                border-bottom: 1px solid #FFFFFF26;
                color: #FFFFFF;
                outline: none;
                padding-top: 7px;
                padding-bottom: 2px;
                border-spacing: 10px;
                padding-bottom: 8px;
            }
    
            & input:nth-last-child(3) {
                margin-bottom: 16px;
            }
    
            ::placeholder {
                color: #FFFFFF;
            }
        }

        & h1 {
            width: 480px;
            height: 51px;
            color: #E3B873;
            font-size: 20px;
            font-family: "Yeseva One";
            font-weight: 400;
            line-height: 28px;
            text-align: center;
            margin-bottom: 26px;
            margin-top: 0px;
        }

        .icon-footer {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-bottom: 43px;
        }

        .icon-block8 {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color:#E3B873;
            text-align: center;
            line-height: 28px;
            padding-top: 1.5px;
            cursor: pointer;
        }
    }

    .block8-overlay {
        content: '';
        background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.label {
    cursor: pointer;
    display: flex;
    .checkbox{
        display: none;
    }

    .fake{
        display: flex;
        align-items: center;
        width: 18px;
        height: 18px;
        background: #E3B873;
        color: #fff;
        justify-content: center;
        border-radius: 1px;
        margin-right: 9px;
    }
    .fake::before{
        content:"\2714";
        opacity: 0;
        transition: .2s;
    }
    .checkbox:checked + .fake::before{
        opacity: 1;
    }

    & span {
        color:#FFFFFF;
    }
}


footer {
    background-color: #131313;

    .container-footer {
        height: 113px;
    }

    .button-footer {
        width: 161px;
        height: 37px;
    }
}

@media screen and (max-width: 700px) {

    .button {
        width: 340px;
        height: 51px;
    }

    .container-header {
        height: 57px;
        display: flex;
        justify-content: space-between;

        .number-link {
            color: #FFFFFF;
        }

        .number {
            margin-right: 0px;
        }
    }

    .container-header-footer {
        padding-left: 18px;
        padding-right: 18px;
    }

    .container {
        padding-left: 18px;
        padding-right: 18px;
        justify-content: center;
        min-width: 375px;

        .wrapper-hero {
            margin-left: 0px;
            margin-top: 85px;justify-content: center;

            .content {
                font-size: 14px;
                line-height: 19px;
                text-align: left;
                margin-bottom: 35px;
            }

            .title {
                font-size: 23px;
                margin-bottom: 16px;
                margin-top: 0px;
                line-height: 30px;
                width: 340px;
            }
        }

        .button-block {
            flex-direction: column;
            align-items: center;
            gap: 26px;
        }
    }
    
    .block2 {
        height: max-content;

        .online-control {
            height: max-content;
            margin-bottom: 0px;
            padding-bottom: 40px;
            gap: 20px;

            .title-online-control {
                font-size: 22px;
                line-height: 30px;
            }
        }
    }

    .container2 {
        display: flex;
        flex-flow: column;
        height: max-content;
        padding-left: 18px;
        padding-right: 18px;
        margin: 0 auto;
        margin-bottom: 57px;
        color:#FFFFFF;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 27px;
        width: 100%;

        .title-complete-projects {
            padding-top: 0px;
        }

        .header-complete-projects {
            margin-right: 0px;
            width: 100%;
            height: 174px;
            margin-bottom: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            .title-complete-projects {
                padding-top: 36px;
                margin-bottom: 22px;
                font-size: 22px;
                line-height: 30px;
            }
            
            .content-complete-projects {
                font-size: 11px;
                line-height: 17px;
                width: 311px;
            }
        }

        .complete-projects {
            height: 100%;
            order: 2;
            padding-top: 75px;
            margin-bottom: 37px;
        
            .photo-complete-projects {
                width: 100%;
            }
        }

        .container2-1 {
            order: 3;
            margin-right: 0px;
            margin: 0 auto;

            .title-block2-2 {
                margin-bottom: 11px;
                font-size: 14px;
                line-height: 19px;
            }
            
            .content-table2 {
                margin-bottom: 34px;
                font-size: 11px;
                line-height: 15px;
            }
        }

        .title-block2 {
            margin-top: 0px;
        }

        .circle {
            display: none;  
        }
    }


    .block4 {
        margin-bottom: 0px;

        .type-repair {
            font-size: 22px;
            line-height: 30px;
            text-transform: uppercase;
            margin-bottom: 40px;
            margin-top: 83px;
        }

        .container4 {
            flex-direction: column;
            padding-left: 18px;
            padding-right: 18px;
            gap: 59px;
            width: 100%;
            align-items: center;
            margin-bottom: 266px;
    
            .container4_1 {
                max-width: 100%;

                .type-repair-image {
                    width: 100%;
                }
    
                .content-block4 {
                    margin-left: 0px;
                }
                
                .btn-block4 {
                    margin-left: 0px;
                }
            }
        }
    }

    .header-navigation {
        display: none;
    }

    .hero {
        height: 476px;
    }

    footer {
        display: none;
    }

    .button-header {
        display: none;
    }

    .container3 {
        max-width: 100%;
        padding-left: 18px;
        padding-right: 18px;
        background-color: #131313;

        .label .text {
            color: #FFFFFF;
        }
    }


    .container3_1 {
        margin-bottom: 61px;

        .video {
            margin-top: 0px;
            margin-bottom: 28px;

            .container-video {
                width: 100%;
            }

            .image-video {
                height: 100%;
                width: 100%;

                .button-play {
                    width: 50px;
                    height: 50px;
                }
            }
        }

        .content-under-video {
            margin-top: 21px;
            font-size: 11px;
            line-height: 19px;
            margin-bottom: 0px;
            color: #FFFFFF;
        }
    }

    .container3_2 {
        flex-direction: column;
        width: 100%;
        margin-bottom: 0px;
        row-gap: 0px;
        column-gap: 0px;
        height: max-content;

        .table-block3 {
            flex-direction: column;
            gap: 63px;
            margin-bottom: 27px;
        }

        .table-block3 input {
            width: 100%;
            outline: none;
            line-height: 19px;
        }

        .table-block3 label{
            color: #FFFFFF80;
        }

        .table-block3 input::placeholder {
            color: #FFFFFF;
        }

        .button-subscribe {
            margin-bottom: -25px;
            align-self: center;
            order: 1;
        }

        .label {
            margin-bottom: 88px;
        }
    }

    .block5,.block7 {
        display: none;
    }

    .block6 {
        height: max-content;
        background-image: none;
        margin-bottom: 0px;

        .container6 {
            background-color: #131313;
            padding: 18px;
            flex-direction: column;

            .list-style {
                display: none;
            }
    
            .block6-image-rigth {
                display: none;
            }

            .block6-image-delete {
                display: none;
            }

            .block6-image-left {
                margin-top: 0px;
                margin-right: 0px;

                .block6-image-first {
                    content: url("../images/image_6_1_mobile.jpg");
                }
            }
        }

        .hero-overlay {
            display: none;
        }

        .block-list-style {
            width: 100%;
            height: max-content;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: -250px;

            & h1 {
                font-size: 22px;
                line-height: 30px;
                text-align: center;
                width: 230px;
                height: 66px;
                align-self: center;
                margin-bottom: 24px;
            }
        }
    }

    .block8 {
        height: max-content;
        background-image: none;
    
        .container8 {
            margin: 0 auto;
            max-width: 100%;
            padding: 18px;
            background-color: #131313;
    
            .any-questions {
                width: 100%;
                height: max-content;
                padding: 0px;
                margin-top: 0px;
                margin-bottom: 46px;

                .top-block {
                    flex-direction: column;
                    width: 100%;

                    .top-block-item {
                        width: 100%;
                        margin-bottom: 63px;
                    }
                }

                .block-question {
                    width: 100%;
                    margin-bottom: 22px;
                }

                .title-any-questions {
                    margin-bottom: 52px;
                }

                .label {
                    align-self: self-start;
                    margin-bottom: 67px;
                }

                .form-submit {
                    width: 340px;
                }
            }

            & h1 {
                width: 100%;
                height: max-content;
                font-size: 18px;
                line-height: 25px;
                order: 1;
                margin-bottom: 23px;
            }

            .image-map {
                width: 100%;
                margin-bottom: 42px;
            }

            .icon-footer {
                order: 2;
                margin-bottom: 31px;
            }

            .block8-overlay {
                display: none;
            }
        }
    }
}
